ol
  each entry in entries
    li
      span.name Широта:
        a(href=entry.latitude_value)= entry.latitude_value
        br
      span.title Долгота:
        a(href=entry.longitude_value)= entry.longitude_value
        br
      span.title Адрес:
        a(href=entry.address)= entry.address
      input.delete(type="button", value="X", id=entry._id)


