html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    uerscript(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jqy.min.js')
    script(type='text/javascript', src='/javascripts/task6.js')

    block extraHead

  body
    block content
