body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #69cd7c;
}
html,
body,
#map_cont {
  height: 100%;
  width: 650px;
  margin: 0 auto;
  padding: 10px;
}
html {
  padding: 0px;
}
h1,
p {
  margin-top: 0;
  text-align: center;
}
a {
  color: #00B7FF;
}
label {
  font-weight: bold;
}
input {
  margin-left: 10px;
}
#lbl_cont {
  margin-left: 50px;
}
#bot_cont_ldl {
  margin-top: 10px;
}
#bot_inp {
  margin-left: 110px;
}
#go_button {
  width: 123px;
  height: 25px;
  color: indianred;
  font-weight: bold;
  margin-left: 250px;
  margin-top: 10px;
}
#map_cont {
  margin-top: 20px;
  height: 600px;
}
#all_cont_wrapper {
  width: 700px;
  margin: 0 auto;
}
#addresses {
  margin-top: 10px;
  text-align: center;
}
