body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: mediumseagreen;
}
a {
  color: #00B7FF;
}
#all_cont_wrapper {
  width: 700px;
  margin: 0 auto;
  border: 8px solid #f28f55;
  border-radius: 20px;
  padding: 10px;
}
h1,p {
  text-align: center;
}
#top_cont_lbl {
  margin: 10px 0;
}
label {
  font-weight: bold;
  font-size: 1.1em;
}
input {
  margin-left: 10px;
  padding: 4px;
}
#bot_inp {
  margin-left: 47px;
}