doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    title= Task7
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB2QoF81Ng94UY1e4ZaSIi-9k5tNHJj8Uo&sensor=false')
      script(src='/js/maps.js')
  body
    block content
