body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color:greenyellow;
    background-color:lightcoral;
}

a {
  color: #00B7FF;
  margin-left:10px;
}
#fish{
    margin-left:10%;
    width:20%;
}
#left-side{
    float:left;
    display:inline-block;
    padding:50px 0 0 50px;
    width:800px;
}
#urls{
    display:inline-block;
    margin:50px 0 0 50px;
}
span.title {
  visibility: hidden;
}
.show_long_url{
  visibility: visible;
}
.ch_b{
  margin-left:10px;
}