body{
    background-color:lightseagreen;
}
#wrap {
    margin-top:5%;
    margin-left: 40%;
}
.to-do-but{
    width:90px;
    height:30px;
    background-color:orangered;
    border-radius:10px;
}
#top-text{
    width:37%;
    margin-top:2%;
    margin-left: 32%;
    padding:1%;
    Background-color:mediumspringgreen;
    display:block;
}
